<%!

	active_page = "index.html"
%>
<!DOCTYPE html>
<html>
<head>
	<base href="/${site_data['relative_path']}/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="media_stylesheet.css" />
	% if "title" in page_data:
		<title>${site_data["title"]} | ${page_data["title"]}</title>
	% else:
		<title>${site_data["title"]}</title>
	% endif
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div id="pagebody">
		<div id="topbar">
			<div id="header">
				<div id="titlebox">
				<a href="index.html">Topology Seminar</a>
					<div id="subtitle">University of Texas at Austin</div>
				</div>
				<div class="mathlogo">
					<a href="https://www.ma.utexas.edu/"><img src="resources/mathematics.png" alt="University of Texas mathematics"/></a>
				</div>
			</div>
			<%block name="navbar">
			<div class="navbar">
				<ul>
					% for link in site_data["navbar_links"]:
						% if page_data["filename"] == link["url"] or page_data["directory"] == link["url"]:
							<li><a class="active" href="${link['url']}">${link['name']}</a></li>
						% else:
							<li><a class="inactive" href="${link['url']}">${link['name']}</a></li>
						% endif
					% endfor
				</ul>
			</div>
			</%block>
		</div>
		<div id="content">
			${self.body()}
		</div>
	</div>
	<footer>
		<div id="footer-content">
			<div class="footer-menu">
				<ul>
					<li class="footer-menu-item"><a href="about/index.html">Contact</a></li>
					<li class="footer-menu-item"><a href="about/inclusivity.html">Inclusivity Statement</a></li>
				</ul>
			</div>
			<div class="mathlogo">
				<a href="https://www.ma.utexas.edu/"><img src="resources/math_light.png" alt="University of Texas mathematics"/></a>
			</div>
		</div>
	</footer>
</body>
</html>