<%inherit file="base.html" />

<div class="box left">
	<div class="toc">
		<ul>
			<%
				if page_data["filename"] in site_data["submenus"]:
					submenu = page_data["filename"]
				else:
					submenu = page_data["directory"]
			%>
			% for link in site_data["submenus"][submenu]:
				% if page_data["filename"] == link["url"]:
					<li><a class="active" href="${link['url']}">${link['name']}</a></li>
				% else:
					<li><a class="inactive" href="${link['url']}">${link['name']}</a></li>
				% endif
			% endfor
		</ul>
	</div>
</div>
<div class="box right">
	${page_data["contents"]}
</div>