<%!

	active_page = "index.html"
%>
<!DOCTYPE html>
<html>
<head>
	<base href="/${site_data['relative_path']}/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="extra.css" />
	% if "stylesheets" in page_data:
		% for stylesheet in page_data["stylesheets"]:
			<link rel="stylesheet" type="text/css" href="${stylesheet}" />
		% endfor
	% endif
	% if "title" in page_data:
		<title>${site_data["title"]} | ${page_data["title"]}</title>
	% else:
		<title>${site_data["title"]}</title>
	% endif
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	% if "scripts" in page_data:
		% for script in page_data["scripts"]:
			<script src="${script}"></script>
		% endfor
	% endif
	<script src="elt-dodge.js"></script>
</head>
<body>
	<div id="pagebody">
		<div id="topbar">
			<div id="header">
				<div id="name">
				<a href="index.html">Theodore Weisman</a>
				</div>
				<div id="contact">
					<a href="index.html#contact">Contact</a>
				</div>
			</div>
			<%block name="navbar">
			<div class="navbar">
				<ul>
					% for link in site_data["navbar_links"]:
						% if page_data["filename"] == link["url"] or page_data["directory"] == link["url"]:
							<li><a class="active" href="${link['url']}">${link['name']}</a></li>
						% else:
							<li><a class="inactive" href="${link['url']}">${link['name']}</a></li>
						% endif
					% endfor
				</ul>
				<hr />
			</div>
			</%block>
		</div>
		<div id="content">
			${self.body()}
		</div>
	</div>	
</body>
</html>
