html {
	font-size: 14px;
	font-family: 'Libre-Franklin', sans-serif;
	background-color: white;
/*	background-color: #edf6fc; */
}

* {-webkit-font-smoothing: antialiased;}

body {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#pagebody {
	flex:1;
}

h1 {
	font-weight: normal;
	font-size: 145%;
}

h2 {
	margin-top: 15px;
	font-weight: normal;
	font-size: 125%;
	padding-left: 0px;
}

h3 {
	font-weight: normal;
	font-size: 115%;
	padding-left: 5px;
}

h4 {
	font-size: 105%;
	padding-left: 5px;
}

hr {
	border: none;
	height: 0px;
}

.navbar {
	text-transform: uppercase;
	text-align: left;
	background-color: #ededed;
}

.navbar ul {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 0px;
}

.navbar li{
	font-size: 16px;
	list-style-type: none;
	display: inline-block;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

.active a {
	text-decoration: underline;
}

.navbar a {
	color: #3d3d3d;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	padding: 15px 15px 15px 15px;
}
.navbar a:hover {
	color: white;
	background-color: #c2c2c2;
}

.navbar hr {
	max-width:900px;
	border: none;
	border-bottom: 1px solid black;
}

#topbar {
	margin: 0px;
	padding:0px;
	padding-bottom: 0px;
}

#header {
	max-width: 1100px;
	overflow: auto;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

#titlebox {
	padding: 0px;
	padding-left: 10px;
	font-size: 190%;
	float: left;
}

#subtitle {
	font-size: 70%;
	font-weight: lighter !important;
}

#titlebox a{
	color: #bf5700;
	text-decoration: none;
}

#titlebox a:hover {
	color:#ff9838;
}

footer .mathlogo {
	display: none;
	padding-left: 10px;
}

#header .mathlogo {
	text-align: right;
	padding-right: 10px;
}

.mathlogo img {
	max-width: 300px;
}

footer {

	margin-top: 40px;
	color: white;
	background-color: #bf5700;
}

#footer-content {
	max-width: 1100px;
	padding: 10px 0px 10px 0px;
	margin: auto;
}

.footer-menu ul {
	list-style-type: none;
	padding: 0px;
}
.footer-menu li {
	display: inline-block;
}


.footer-menu a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
}

.box {
	display: table-cell;
	vertical-align: top;
	width: auto;
	padding: 10px;
}

.toc {
	min-width: 300px;
	background-color: #e3e3e3;
	padding: 10px;
}

.toc ul {
	list-style-type: none;
	padding: 0px;
}

.toc li {
	margin: 10px;
}

.toc a {
	color: #004878 !important;
	font-size: 120%;
}

.image-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.img-cell {
	justify-content: center;
}

#pagebody {
	margin: 0px;
}

#content a {
	text-decoration: none;
	color: #bf5700;
}

#content a:hover {
	text-decoration: underline;
}

#content {
	line-height: 1.4em;
	max-width: 1100px;
	margin:auto;
	padding:20px;
	padding-top: 10px;
}

#content p {
	margin: 5px 10px 10px 10px;
}

#content ul {
	/*padding: 0px;
	margin-left: 10px;*/
}

#content li {
	
}

#content hr {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 80%;
	border-bottom: 1px solid #adadad;
}

#content img {
	display: block;
	padding: 20px 0;
	margin:0 auto;
	max-width: 100%;
}

img#title-photo {
	max-width: 180px;
}

iframe {
	display: block;
	padding: 20px 0;
	max-width: 100%;
}